.mainWrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background: none;
    /*bg #fff*/
    padding: 40px 20px 10px;
    border-radius: 40px;
    margin: 0;
}
.topInfo{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #13304F;

    padding: 5px 20px;
}
.FormWrapper{
    padding: 50px 20px 30px;
    background: #fff;
    border: 2px solid #D2D2D2;
    border-radius: 20px;
}
.FormWrapper span{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #13304F;
}
.inputWrapper{
    margin-top: 20px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}
.description{
    background: #fff;
    border: 2px solid #D2D2D2;
    border-radius: 10px;
    padding: 10px;
    height: 40px;
    width: 250px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
.buttonsRow{
    display: flex;
    justify-content: space-between;
}
.post{
    background: #FF7C7C;
    transition: 0.3s;
}
.post:hover{
    background: #FF5353;
    border-radius: 20px;
}
.mainWrapper button {
    background: #13304F;
    color: #fff;
    border-radius: 20px;
    padding: 5px 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-right: 10px;

    transition:0.3s
}
.mainWrapper button:hover{
    background: #0D2035;
}
.FormWrapper button{
    margin-top: 20px;
}
.fieldWrapper{
    margin-top: 15px;
}
@media screen and (max-width: 1250px) {
    .FormWrapper{
        max-width: 300px;
    }
}
@media screen and (max-width: 660px) {
    .FormWrapper{
        max-width: 400px;
    }
}