.column{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: calc(100%/10);
}
.userInfo {
    min-height: 24%;
    padding: 5px;
    border: 2px solid #D2D2D2;
    border-radius: 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.description {
    display: inline-block;
    padding: 10px;
    min-width: 100%;
    border: 2px solid #D2D2D2;
    border-radius: 20px;
    background: #fff;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}
.distinguishingFeatures {
    display: inline-block;
    padding: 10px;
    border: 2px solid #D2D2D2;
    border-radius: 20px;
    background: #fff;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}