.searchRow {
    border-radius: 50px;
    background: #13304F;
    height: 60px;

    display: flex;
    flex-direction: column;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    transition: 0.3s;
}
.categoryAndInfoWrapper{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.choosing {
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 18px 25px;
    border: 2px solid #D2D2D2;
    border-radius: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addCategory {
    justify-self: end;
    border: 2px solid #D2D2D2;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 20px;
    padding: 5px;

    transition: 0.3s;
}

.addCategory:hover {
    height: 45px;
    width: 45px;
    margin-right: 17.5px;
    margin-top: 7.5px;
}