.mainWrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background: none;
    padding: 40px 20px 0px;
}

.topInfo {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #13304F;

    padding: 5px 20px;
}

.cardWrapper {
    min-width: 500px;
    max-width: 500px;
    border: 2px solid #D2D2D2;
    border-radius: 40px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

/*.photoOfPet{*/
/*    height: calc(100% - 80px);*/
/*    margin-left: 40px;*/
/*    border:5px solid #000;*/
/*    border-radius: 20px;*/
/*}*/
.mainWrapper img {
    margin-left: 20px;
    border-radius: 20px;
}

.fromForm {
    margin-top: 20px;
    align-self: start;
    width: 200px;
    max-height: 300px;
    border: 4px solid #000;
}

.columnInfo {
    margin: 20px 20px 20px 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 1100px) {
    .cardWrapper {
        flex-direction: column;
        min-width: 350px;
        align-items: center;
        justify-content: center;
    }
    .mainWrapper img {
        margin: 0 auto;
        margin-top: 20px;
    }
}
/*@media screen and (max-width: 660px) {*/
/*    .cardWrapper {*/
/*        flex-direction: column;*/
/*        min-width: 400px;*/
/*        align-items: center;*/
/*        justify-content: center;*/
/*    }*/
/*    .mainWrapper img {*/
/*        margin: 0 auto;*/
/*        margin-top: 20px;*/
/*    }*/
/*}*/