.navbar {
    width: 100vw;
    height: 80px;

    position: fixed;
    display: flex;
    justify-content: center;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    background: #FFFFFF;
}

.iconsWrapperFromToggle {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    gap: 30px;
}


.profileIcon {

}

.addEventIcon {

}

a {
    color: #9B9B9B;
}

.none {
    display: none;
}


@media screen and (max-width: 1000px) {
    .iconWrapper {
        display: none;
    }
}
@media screen and (max-width: 850px) {
    .navLinks{
        flex-direction: column;
        top: 80px;
        right: 10vw;
        position: absolute;
        background: #13304F;
        gap: 0;
    }
}