@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;900&family=Montserrat&family=Poppins:wght@400;500;600;700&family=Roboto:wght@500&family=Secular+One&family=Shadows+Into+Light&family=Source+Sans+Pro:wght@200&display=swap');

.App {
  background: #202020;
  min-height: 100vh;
  max-width: 100vw;
  font-family: Roboto sans-serif;
}
.row{
  display: grid;
  grid: 'navbar screen' 1fr / 200px 1fr;
}
.navbar{
  grid-area: navbar;
  width: 100%;
  height: 100vh;
}