.cardWrapper{
    margin-top: 50px;
    width: 100%;
    height: 500px;
    border: 5px solid #000;
    border-radius: 40px;
    background: #D0BAF3;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photoOfPet{
    height: calc(100% - 80px);
    width: 300px;
    margin-left: 40px;
    border:5px solid #000;
    border-radius: 20px;
}
img{
    height: calc(100% - 80px);
    width: 400px;
    margin-left: 40px;
    border:5px solid #000;
    border-radius: 20px;
}
.columnInfo{
    height: calc(100% - 80px);
    margin-right: 40px;
    width: 50%;
}